<!DOCTYPE html>
<html>
  <head>
    <title>Animr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta property="og:title" content="Animr" />
     <meta property='og:image' content="<%= image_url('feature1.gif') %>"/>
     <meta property="og:description"
       content="'Animr' is a clone of the popular website Flickr, an online photo management and sharing application."/>
     <meta property="og:url"
       content="http://fullstack-animr.herokuapp.com/#/"
     />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('logo.jpg') %>
    <script type="text/javascript">
    window.logo = "<%=image_url("logo.jpg")%>"

  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
